@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: #0252bb;
  transition: 0.4s;
  padding: 3px;
}

.title {
  background: linear-gradient(to right, darkorange, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bolder;
}

.hero-title {
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to right, pink, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

.portfolio-title {
  font-size: 1.6rem;
  font-family: Montserrat sans-serif;
  font-weight: bolder;
  color: black;
}

.btn-primary {
  border: 3px solid black;
  display: inline-block;
  padding: .6rem;
  border-bottom: 5px solid black;
  border-radius: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

.portfolio-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.arrow-img {
  transform: rotate(85deg);
}

@media (hover: hover) {
  a:hover {
    background: linear-gradient(to right, pink, orange);
    color: black;
  }
  
  .portfolio article:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

@media (min-width: 810px) {
  .title {
    font-size: 2rem;
  }
  
  .hero-title {
    text-align: center;
  }
  
  .portfolio-title {
    font-size: 2rem ;
  }
  
  .portfolio-image {
    border: 1px solid black;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  .arrow-img {
    transform: rotate(180deg);
    display: inline-block;
    position: relative;
    right: 4rem;
  }
}